* {
    box-sizing: border-box;
}

body {
    margin : 0;
    font-family: 'Inter', sans-serif;
    background-color: #282d35;
} 

nav {
    display: flex;
    align-items: center;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo_text, .nav--title{  /* yukardaki padding in tam ve dogru islemesi icin , resime height e bu yuzden verdi */
    margin: 0;
}

.nav--logo_text {
    margin-right: auto;
    color: #61DAFB;
    font-weight: 700;
    font-size: 22px; 
} 

.nav--title {
    color: #Deebf8;
    font-weight: 600;
} 

.nav--icon {
    height: 30px;
    margin-right: 7px;
}

main {
    padding: 57px 27px;
    color: white;
    background-image: url(./images/React-logo.png);
    background-repeat: no-repeat;
    background-position: right 75%;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    max-width: 400px; /* liste yazilari wrap olsun diye */
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px; /* sadece yukari ve asagiya verir */
} 

.main--facts > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

