* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex; /* logo tasmasin diye */
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.gray {
    color: #918e9b;
}

.bold {
    font-weight: bold;
}

.nav--logo {
    max-width: 100px; /* safari problemi iicin */
}

section {
    padding: 20px;
    display: flex;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero--photo {
    max-width: 400px;
}

.hero-header {
    margin-bottom: 16px;
}

.hero-text {
    margin-top: 0;
}

.card {
    width: 175px;
    font-size: 12px;
    flex : 0 0 auto;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    position: relative;
}

.card--image {
    width: 176px;
    height: 235px;
    border-radius: 9px;
    margin-bottom: 9px;
} 

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;

}

.card--star {
    height: 14px;
}

.card--badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}